.imgCarousel {
  height: 500px;
}

.cards {
  margin: 10px;
  width: 98%;
}

.card {
  margin: 10px;
}
.card2 {
  width: 300px;
  margin: 10px;
}
.card-body h5,
.card-body h5:link {
  color: #000000;
}
